@import '@styles/all.scss';

.container-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: $color-white;
  z-index: 10000;
  width: 350px;
  height: 58px;
  border: 1px solid $color-light-grey;
  border-radius: 40px;
  align-self: center;
  box-sizing: border-box;
  padding: 9px 25px;
  position: fixed; // Фиксируем меню
  bottom: 10px; // Небольшой отступ от низа

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    outline: none;
    background: none;

    &:hover {
      color: $color-accent;

      .item__name {
        color: $color-accent;
      }

      .item__icon {
        fill: $color-accent !important;
      }
    }
  }
}

.item {
  &__icon {
    display: inline-block;
    width: 20px;
    transition: fill 0.2s linear; // Изменяем transition на fill
  }

  &__name {
    @include mobile-text-second;
    font-weight: 500;
    transition: color 0.2s linear;
  }
}

body {
  padding-bottom: 68px; // Высота меню (58px) + отступ (10px)
}
