@import '@styles/all.scss';

.content-container {
  display: flex;
  flex-direction: column;
  &__return-button {
    margin-bottom: 16px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      width: 31px;
    }
    @media (max-width: 450px) {
      margin-bottom: 16px;
      img {
        width: 24px;
      }
    }
  }

  &__first-section {
    margin-bottom: 40px;
    @media (max-width: 450px) {
      margin-bottom: 20px;
    }
  }
  &__second-section {
    margin-bottom: 40px;
    @media (max-width: 450px) {
      margin-bottom: 20px;
    }
  }

  &__fourth-section {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-bottom: 90px;
    @media (max-width: 450px) {
      margin-bottom: 64px;
      gap: 8px;
    }
  }
}

// Первая секция страницы
.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 554px;

  @media (max-width: 768px) {
    flex-direction: column;
    min-width: 0;
  }
  &__calories {
    display: flex;
    flex-direction: column;
  }
  &__info-box {
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  }

  &__image {
    width: 554px; /* Фиксированная ширина */
    height: auto; /* Сохраняем пропорции */
    margin-right: 32px;
    border-radius: 40px;
    @media (max-width: 768px) {
      margin-bottom: 16px;
      width: 95%;
    }
    @media (max-width: 450px) {
      margin-right: 0;
      width: 100%;
      align-self: center;
    }
  }
}

.calories-table {
  &__info {
    display: flex;
  }
}

.info-box {
  &__info {
    width: 50%;
  }
  &__tags {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 450px) {
      max-width: 350px;
      flex-wrap: nowrap;
    }
    &-tag {
      @include tags;
      margin-right: 16px;
      position: relative;
      &:not(:first-child)::before {
        content: '';
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background-color: $color-accent;
        border-radius: 50%;
      }
      &:nth-child(n + 3) {
        display: none; /* Скрываем теги, начиная с 3-го на мобильных */
      }
    }
  }

  &__name {
    @include h5-bold;
    margin-bottom: 16px;
    margin-right: 16px;
    @media (max-width: 450px) {
    }
  }

  &__description {
    border-top: 1px solid $color-grey-stroke;
    padding-top: 20px;
    margin-bottom: 40px;
    max-height: 115px;
    overflow-y: auto;
    width: 100%;
    @media (max-width: 768px) {
      width: 700px;
    }
    @media (max-width: 450px) {
      min-width: 400px;
      width: 100%;
      max-height: 300px;
      margin-bottom: 24px;
    }

    &-text {
      @media (max-width: 450px) {
        @include mobile-text-second;
      }
    }
  }

  &__calories-table {
    border: 1px solid $color-grey-stroke;
    border-radius: 20px;
    width: 552px;
    height: 170px;
    background-color: $color-grey-background;
    padding: 20px 25px;
    @media (max-width: 768px) {
      width: 700px;
    }
    @media (max-width: 450px) {
      max-width: 400px;
      max-height: 140px;
      margin-bottom: 16px;
      padding: 12px 24px;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__info-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 768px) {
      width: 700px;
      align-items: center;
    }
    @media (max-width: 450px) {
      width: 400px;
    }
  }

  &__favourite-background {
    position: absolute; /* Фон может быть абсолютно позиционирован */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Меньший z-index */
  }
  &__favourites {
    position: relative; /* Иконка относительно кнопки */
    z-index: 100; /* Высокий z-index для иконки */
    width: 15px;
    height: 15px;

    color: $color-red-error;
    transition: color 0.3s ease; // Плавный переход цвета
  }
  &__unfavourites {
    position: relative; /* Иконка относительно кнопки */
    z-index: 100; /* Высокий z-index для иконки */
    width: 15px;
    height: 15px;

    color: $color-light-grey;
    transition: color 0.3s ease; // Плавный переход цвета
  }

  &__favourite-button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    display: flex;
    position: relative;
  }
}

.calories-table {
  &__name {
    @include paragragh;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
    @media (max-width: 768px) {
      text-align: center;
    }
    @media (max-width: 450px) {
      @include mobile-text-second;
      font-weight: 600;
      width: 300px;
      margin-bottom: 8px;
    }
  }
  &__hr {
    width: 100%;
    height: 1px;
    background-color: $color-grey-stroke;
    border: none;
    margin-bottom: 8px;
    @media (max-width: 450px) {
      margin-bottom: 8px;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 58px;
    &--count {
      font-weight: 600;
      margin-bottom: 4px;
    }
    &--measure {
      color: $color-grey-text;
    }
    h2 {
      margin-bottom: 8px;
    }
    @media (max-width: 768px) {
      margin-right: 32px;
    }
    @media (max-width: 450px) {
      margin-right: 24px;
      gap: 4px;
      h2 {
        @include mobile-text-second;
        height: 15px;
      }
      span {
        @include mobile-text-second;
        font-weight: 600;
        height: 15px;
        margin-bottom: 4px;
      }
    }
    &:first-child {
      margin-right: 42px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// Вторая секция страницы
.ingredients-section {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
    @media (max-width: 450px) {
      margin-bottom: 16px;
      flex-direction: column;
    }
  }
}

.header {
  &__portion-box {
    @include green-button;
    display: flex;
    @media (max-width: 768px) {
      width: 200px;
      height: 32px;
    }
    @media (max-width: 450px) {
      width: 160px;
      height: 32px;
    }
  }
  &__name {
    @include h5;
    font-weight: 500;
    position: relative;
    padding-left: 12px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: $color-accent;
    }
    @media (max-width: 450px) {
      @include h6;
      font-weight: 500;
      padding-left: 8px;
    }
  }

  &__info-box {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.portion-box {
  display: flex;
  flex-direction: row;
  align-items: center; /* Выравнивание всех элементов по центру */
  padding: 8px;
  @media (max-width: 768px) {
    @include mobile-text-second;
    width: 200px;
    height: 27px;
  }
  &__image {
    margin-right: 12px;
    @media (max-width: 768px) {
      width: 18px;
      margin-right: 8px;
    }
  }
  &__name {
    @include h6;
    margin-right: 53px;
    @media (max-width: 768px) {
      @include mobile-text-second;
      margin-right: 24px;
    }
    @media (max-width: 450px) {
      margin-right: 8px;
    }
  }

  &__counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    @media (max-width: 768px) {
      gap: 4px;
    }
  }

  &__counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-light-grey;
    font-size: 1rem;
    min-width: 20px;
    @media (max-width: 768px) {
      @include mobile-text-second;
    }
    @media (max-width: 450px) {
      @include mobile-text-second;
      width: 20px;
      height: 20px;
      border-radius: 7px;
    }
  }

  &__increase-button,
  &__decrease-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
      @media (max-width: 768px) {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.ingredients-list {
  &__item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item-name {
    margin-bottom: 16px;
    @media (max-width: 450px) {
      @include mobile-text-second;
      margin-bottom: 8px;
    }
  }
  &__item-amount {
    font-weight: 400;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }

  &__item-hr {
    width: 100%;
    height: 1px;
    background-color: $color-grey-stroke;
    border: none;
    margin-bottom: 16px;
  }
}

//Третья секция

.recipe-section {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    @media (max-width: 450px) {
      flex-direction: column;
      align-items: start;
      margin-bottom: 16px;
    }
  }

  &__step {
    display: flex;
    margin-bottom: 40px;
    background: $color-grey-background;
    border-radius: $border-radius-custom;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 16px;
    }
    @media (max-width: 450px) {
      flex-direction: column;
      margin-bottom: 16px;
    }
  }

  &__image {
    margin-right: 32px;
    @media (max-width: 450px) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
  &__content {
    @include h5;
    margin-bottom: 16px;
    @media (max-width: 450px) {
      @include mobile-text-second;
      padding: 0 12px;
    }
  }
  &__number {
    margin-bottom: 8px;
    font-weight: 600;
    padding-top: 16px;
    @media (max-width: 768px) {
      @include h6;
      font-weight: 600;
    }
    @media (max-width: 450px) {
      @include paragragh;
      font-weight: 600;
      margin-bottom: 4px;
      padding-top: 0;
    }
  }
  &__description {
    max-height: 150px;
    overflow-y: auto;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }
}

.header {
  &__name {
    margin-bottom: 16px;
  }
}

.header-recipe {
  &__times-button {
    @include inputField;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 290px;
    @media (max-width: 768px) {
      @include mobile-text-second;
      width: 200px;
      height: 32px;
      gap: 4px;
      img {
        width: 20px;
      }
    }

    @media (max-width: 450px) {
      @include mobile-text-second;
      width: 160px;
      height: 32px;
      gap: 4px;
    }
  }
}

//Четвертая секция
.fourth-section {
  &__advance {
    display: flex;
    gap: 24px;
    border: 1px solid $color-grey-stroke;
    border-radius: $border-radius-custom;
    min-height: 50px;
    padding: 15px 32px;

    @media (max-width: 450px) {
      @include mobile-text-second;
      padding: 12px 20px;
    }
  }
  &__advance-hero {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    h2 {
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 450px) {
        @include mobile-text-second;
        font-weight: 600;
      }
    }
  }
  &__advance-box {
    @include paragragh;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }

  &__advance-image {
    width: 164px;
    @media (max-width: 450px) {
      display: none;
    }
  }
}
