
.header__container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  background-color: #fff;
  padding: 10px 0;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Выравнивание влево, чтобы всё было прижато к логотипу */
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  list-style: none; /* Убираем маркеры списка */
  margin: 0;
  padding: 0;
}

.header__nav-item {
  margin-right: 32px; /* Расстояние между Главная и Избранное */
}

.header__nav-item:last-child {
  margin-right: 0; /* Убираем отступ у последнего элемента */
}

.header__nav-link {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: inherit; /* Наследуем цвет из * */
}

.header__nav-link img {
  vertical-align: middle; /* Выравнивание иконки профиля */
}

.header__hr {
  height: 1px; /* Толщина линии */
  background-color: #333; /* Цвет линии */
  margin: 10px 0; /* Отступы сверху и снизу */
  width: 100vw; /* Полная ширина */
}