@mixin h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 110%;
}

@mixin h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}

@mixin h4 {
  font-size: 32px;
  font-weight: 500;
  line-height: 110%;
}

@mixin h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

@mixin h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}

@mixin paragragh {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

@mixin mobile-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 134%;
}

@mixin mobile-text-second {
  font-size: 12px;
  font-weight: 500;
  line-height: 170%;
}

@mixin green-button {
  display: flex;
  font-size: 16px;
  height: 40px;
  border-radius: 40px;
  font-weight: 500;
  border: 1px solid $color-light-green;
  background-color: $color-disable-button;
  color: $color-white;
  padding: 10px 30px;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.5s ease,
    color 0.5s linear,
    opacity 0.2s ease-in-out;
  &:hover {
    background-color: $color-accent;
  }
  @media (max-width: 450px) {
    font-size: 12px;
    height: 24px;
    width: 188px;
    justify-content: center;
  }
  @media (max-width: 480px) {
    padding: 11px 20px;
  }
  @media (max-width: 450px) {
  }
}

@mixin inputField {
  // width: 100%;
  height: 35px;
  padding: 11px 16px;
  border: 1px solid $color-light-grey;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  text-align: center;
  font-weight: 500;

  &:focus {
    border-color: $color-light-grey;
  }
}

/*
Миксин для инпута поиска светло серый текст с левой стороны
*/
@mixin inputFieldLeft {
  width: 100%;
  padding: 8px 16px;
  border: 1px solid $color-light-grey;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  text-align: center;
  height: 40px;
  margin-bottom: 12px;
  text-align: left; /* Текст начинается слева, но визуально смотрится естественно */
  box-sizing: border-box; /* Учитываем padding и border в ширине */
  transition: all 0.3s ease; /* Плавный переход для эффектов */
  font-weight: 500;
  &:focus {
    border-color: $color-light-grey;
  }
  @media (max-width: 450px) {
    @include mobile-text;
    height: 32px;
    padding: 4px;
  }
}

@mixin tags {
  font-size: 12px;
  font-weight: 600;
  color: $color-accent;
  text-transform: uppercase;
}
