@import '@styles/all.scss';

.login-container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  max-width: 640px;
  padding: 32px 60px;
  border-radius: 40px;
  &__password-alive {
    background: none;
    margin-bottom: 16px;
  }
}

.login {
  &__login-welcome {
    @include h5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
  }
  &__login-icon {
    margin: 0 auto;
  }

  &__login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px;
  }

  &__button {
    width: 100%;
    font-size: 16px;
    height: 40px;
    border-radius: 40px;
    background-color: $color-accent-light;
    padding: 11px 30px;
    align-items: center;
    transition:
      background-color 0.5s ease,
      color 0.5s linear,
      opacity 0.2s ease-in-out;
    &:hover {
      background-color: $color-accent;
    }
    @media (max-width: 480px) {
      padding: 11px 20px;
    }
    @media (max-width: 450px) {
    }
  }

  &__password-container {
    position: relative;
    display: flex;
    align-items: center;
    align-items: center;
    width: 100%;
    gap: 16px;
  }

  &__password-toggle {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.input-password {
  flex: 1;
}

.login__input-field {
  max-width: 100%; /* Заставляем input растягиваться на всю доступную ширину */
  font-size: 16px;
  height: 35px;
  border-radius: 40px;
  border: 1px solid $color-light-grey;
  padding: 11px 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition:
    background-color 0.5s ease,
    color 0.5s linear,
    opacity 0.2s ease-in-out;
  &--error {
    border-color: $color-red-error;
    transition: all 0.1s ease-in;
    &::placeholder {
      color: $color-red-error;
    }
  }

  &::placeholder {
    text-align: center;
  }

  /* Мобильная адаптация */
  @media (max-width: 480px) {
    padding: 11px 20px;
  }
  @media (max-width: 480px) {
    padding: 11px 20px;
  }
}


.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: pointer; // Показывает, что фон кликабелен
}