@import '@styles/all.scss';

.modal-container {
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  max-width: 665px;
  max-height: 368px;
  border-radius: 40px;
  transform: translate(-50%, -50%);
  width: 90%;
  box-sizing: border-box;
  z-index: 100;
}

.modal-content {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 36px 70px;
  width: 100%;
  height: 100%;

  &__return-arrow {
    align-self: flex-start;
    img {
      max-width: 40px;
      height: auto;
      display: block;
    }
  }

  &__title {
    @include h5;
    font-weight: 500;
    max-width: 430px;
    text-align: center;
    line-height: 140%;
    margin-bottom: 12px;
  }

  &__code-box {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
  }

  &__button {
    @include green-button;
    width: 100%;
  }
}

.code-box {
  &__title {
    text-align: center;
    color: $color-grey-paragraph;
    margin-bottom: 16px;
  }
  &__input {
    @include inputField;
    width: 100%;
    &--error {
      border-color: $color-red-error;
      &::placeholder {
        color: $color-red-error;
      }
    }
  }

  &__input-first {
    position: relative;
    width: 100%;
    input {
      margin-bottom: 8px;
    }
  }

  &__approwed-password {
    margin-bottom: 8px;
  }

  &__input-second {
    position: relative;
    width: 100%;
    input {
      margin-bottom: 12px;
    }
  }

  &__password-toggle {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
