@import "@styles/all.scss";

.footer {
    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 45px;
    }

    &__hr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-item {
            height: 1px; 
            background-color: $color-light-grey; 
            margin: 10px 0; 

             width: 100vw;
        }
    }

    &-logo {
        margin: 0 32px;

    }

    &__root{
        color: $color-light-grey;
    }


}


