@import '@styles/all';

.container-card {
  display: flex;
  width: 100%;
  position: relative;

  @media (max-width: 680px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 320px;
    width: 100%;
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 13px;
    position: relative;
  }
  @media (max-width: 450px) {
    gap: 8px;
    height: 340px;
  }

  &__image {
    margin-right: 32px;
    cursor: pointer;
    @media (max-width: 600px) {
      margin-right: 0px;
      width: 100%;
    }

    @media (max-width: 600px) {
      align-self: center;
    }

    img {
      width: 195px;
      height: 154px;
      border-radius: 8px;

      @media (max-width: 600px) {
        border-radius: 13px 13px 0 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
        display: block;
      }
    }
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    gap: 8px;

    @media (max-width: 680px) {
      top: 200px; /* Position below the image (image height is 200px) */
      right: 8px;
      z-index: 10;
    }
    @media (max-width: 450px) {
      margin-top: 8px;
    }
  }

  &__line {
    display: flex;
    gap: 16px;
    @media (max-width: 600px) {
      justify-content: flex-start;
    }

    span {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 10px;
      img {
        display: inline-block;
        width: 12px;
      }

      button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: none;
        &:focus,
        &:hover {
          outline: none;
          background: none;
        }
      }
    }
  }

  &__info {
    @media (max-width: 600px) {
      width: 100%;
      padding-left: 8px;
    }
    @media (max-width: 950px) {
      margin-right: 16px;
    }
  }
}

.actions {
  &__delete {
    img {
      width: 20px;
      @media (max-width: 600px) {
        width: 20px;
      }
    }
    background: none;
  }

  &__edit {
    img {
      width: 20px;
      @media (max-width: 600px) {
        width: 20px;
      }
    }
    background: none;
  }
}

.info {
  &__tags {
    color: $color-accent;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    span {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: $color-accent;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 8px;
      margin-left: 8px;
    }
  }
  &__name {
    @include h5;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 12px;
    @media (max-width: 600px) {
      @include paragragh;
      font-weight: 500;
    }
    @media (max-width: 450px) {
      margin-bottom: 8px;
    }
  }
  margin-bottom: 24px;
}
