@import '@styles/all.scss';

.content-container {
  display: flex;
  flex-direction: column;
  &__return-button {
    margin-bottom: 16px; // Изменено с 24px на 16px
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    img {
      width: 31px; // Изменено с 50px на 31px
    }
    @media (max-width: 450px) {
      margin-bottom: 16px;
      img {
        width: 24px; // Изменено с 30px на 24px
      }
    }
  }

  &__first-section {
    margin-bottom: 40px;
    @media (max-width: 450px) {
      margin-bottom: 20px;
    }
  }
  &__second-section {
    margin-bottom: 40px;
    @media (max-width: 450px) {
      margin-bottom: 20px;
    }
  }

  &__fourth-section {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-bottom: 24px; // Изменено с 20px на 90px
    @media (max-width: 450px) {
      margin-bottom: 24px;
      gap: 8px;
    }
  }

  &__confirm-recipe {
    @include green-button;
    height: 45px;
    width: 100%;
    margin-bottom: 90px;
    @media (max-width: 450px) {
      width: 100%;
      height: 32px;
    }
  }
}

.edit-button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(-5px);
  img {
    width: 20px;
    height: 20px;
    @media (max-width: 450px) {
      width: 15px;
      height: 15px;
    }
  }
}

// Первая секция страницы
.main-content {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 554px; // Добавлено из RecipeView

  @media (max-width: 768px) {
    flex-direction: column;
    min-width: 0; // Добавлено из RecipeView
  }
  &__calories {
    display: flex;
    flex-direction: column;
  }
  &__info-box {
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start; // Изменено с center на flex-start
      width: 100%; // Добавлено
    }
  }

  &__image {
    width: 554px; // Изменено с 450px на 554px
    height: 430px;
    margin-right: 32px; // Изменено с 5vw на 32px
    border-radius: 40px; // Изменено с $border-radius-custom на 40px
    @media (max-width: 768px) {
      margin-bottom: 16px;
      width: 95%;
    }
    @media (max-width: 450px) {
      margin-right: 0;
      width: 100%; // Изменено с 95% на 100%
      align-self: center; // Добавлено
    }
  }
}

.calories-table {
  &__info {
    display: flex;
  }
}

.info-box {
  &__info {
    width: 50%; // Добавлено из RecipeView
  }
  &__tags {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 450px) {
      max-width: 350px;
      flex-wrap: nowrap;
    }
    &-tag {
      @include tags;
      margin-right: 16px;
      position: relative;
      &:not(:first-child)::before {
        content: '';
        position: absolute;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background-color: $color-accent;
        border-radius: 50%;
      }
      &:nth-child(n + 3) {
        display: none; /* Скрываем теги, начиная с 3-го на мобильных */
      }
    }
  }

  &__name {
    @include h5-bold; // Изменено с h5
    margin-bottom: 8px; // Добавлено
    margin-right: 8px; // Добавлено
    line-height: 1.2; // Сохранено из RecipeForm
    @media (max-width: 450px) {
      @include h6; // Сохранено из RecipeForm
      font-weight: 500; // Сохранено из RecipeForm
      line-height: 1.2; // Сохранено из RecipeForm
    }
  }

  &__description {
    // Добавлено из RecipeView
    border-top: 1px solid $color-grey-stroke;
    padding-top: 20px;
    margin-bottom: 40px;
    max-height: 115px;
    overflow-y: auto;
    width: 100%;
    @media (max-width: 768px) {
      width: 700px;
    }
    @media (max-width: 450px) {
      min-width: 400px;
      width: 100%;
      max-height: 300px;
      margin-bottom: 24px;
    }

    &-text {
      @media (max-width: 450px) {
        @include mobile-text-second;
      }
    }
  }

  &__calories-table {
    border: 1px solid $color-grey-stroke;
    border-radius: 20px;
    width: 552px;
    height: 170px;
    background-color: $color-grey-background;
    padding: 20px 25px;
    @media (max-width: 1024px) {
      width: 400px;
    }
    @media (max-width: 768px) {
      width: 700px;
    }
    @media (max-width: 450px) {
      max-width: 400px;
      max-height: 140px;
      margin-bottom: 16px;
      padding: 12px 24px;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 4px;
    margin-bottom: 8px;
    @media (max-width: 450px) {
      gap: 4px;
    }
  }
  &__info-right {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    @media (max-width: 768px) {
      width: 700px;
      align-items: center;
    }
    @media (max-width: 450px) {
      width: 400px;
    }
  }
}

.calories-table {
  &__name {
    @include paragragh;
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
    @media (max-width: 768px) {
      text-align: center;
    }
    @media (max-width: 450px) {
      @include mobile-text-second;
      font-weight: 600;
      width: 300px;
      margin-bottom: 8px;
    }
  }
  &__hr {
    width: 100%;
    height: 1px;
    background-color: $color-grey-stroke;
    border: none;
    margin-bottom: 8px;
    @media (max-width: 450px) {
      margin-bottom: 8px;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 58px;
    &--count {
      font-weight: 600;
      margin-bottom: 4px;
    }
    &--measure {
      color: $color-grey-text;
    }
    h2 {
      margin-bottom: 8px;
    }
    @media (max-width: 1024px) {
      margin-right: 16px;
    }
    @media (max-width: 768px) {
      margin-right: 32px;
    }
    @media (max-width: 450px) {
      margin-right: 24px;
      gap: 4px;
      h2 {
        @include mobile-text-second;
        height: 15px;
      }
      span {
        @include mobile-text-second;
        font-weight: 600;
        height: 15px;
        margin-bottom: 4px;
      }
    }
    &:first-child {
      margin-right: 42px;
      @media (max-width: 1024px) {
        margin-right: 16px;
      }
      @media (max-width: 760px) {
        margin-right: 42px;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

// Вторая секция страницы
.ingredients-section {
  &__header-main {
    display: flex;
    gap: 8px;
    @media (max-width: 450px) {
      margin-bottom: 16px;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
    @media (max-width: 450px) {
      margin-bottom: 16px;
      flex-direction: column;
    }
  }

  &__header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    @media (max-width: 450px) {
      gap: 4px;
    }
  }
}

.header {
  &__portion-box {
    @include green-button;
    display: flex;
    width: 100%;
    @media (max-width: 768px) {
      width: 200px;
      height: 32px;
    }
    @media (max-width: 450px) {
      width: 180px;
      height: 32px;
    }
  }
  &__name {
    @include h5;
    font-weight: 500;
    position: relative;
    padding-left: 12px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: $color-accent;
    }
    @media (max-width: 450px) {
      @include h6;
      font-weight: 500;
      padding-left: 8px;
    }
  }

  &__info-box {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    @media (max-width: 450px) {
      justify-content: space-between;
      gap: 0;
    }
  }
}

.portion-box {
  display: flex;
  flex-direction: row;
  align-items: center; /* Выравнивание всех элементов по центру */
  padding: 8px;
  @media (max-width: 768px) {
    @include mobile-text-second;
    width: 200px;
    height: 27px;
  }

  &__image {
    margin-right: 12px;
    @media (max-width: 768px) {
      width: 18px;
      margin-right: 8px;
    }
  }
  &__name {
    @include h6;
    margin-right: 53px;
    @media (max-width: 450px) {
      @include mobile-text-second;
      margin-right: 8px;
    }
    @media (max-width: 768px) {
      @include mobile-text-second;
      margin-right: 24px;
    }
  }

  &__counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    @media (max-width: 768px) {
      gap: 4px;
    }
  }

  &__counter-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-light-grey;
    font-size: 1rem;
    min-width: 20px;
    height: 30px;
    border-radius: 10px;
    @media (max-width: 450px) {
      @include mobile-text-second;
      width: 20px;
      height: 20px;
      border-radius: 7px;
    }
    @media (max-width: 768px) {
      @include mobile-text-second;
    }
  }

  &__increase-button,
  &__decrease-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 20px;
      height: 20px;
      @media (max-width: 450px) {
        width: 15px;
        height: 15px;
      }
      @media (max-width: 768px) {
        width: 15px;
        height: 15px;
      }
    }
  }
}

.ingredients-list {
  &__item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item-name {
    margin-bottom: 16px;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }
  &__item-amount {
    font-weight: 400;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }

  &__item-hr {
    width: 100%;
    height: 1px;
    background-color: $color-grey-stroke;
    border: none;
    margin-bottom: 16px;
  }

  // Стили для пустых состояний формы, сохранены
  &__empty-advance {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    text-wrap: wrap;
    margin-bottom: 20px;
  }
  &__empty-advance-image {
    @media (max-width: 450px) {
      display: none;
    }
  }
  &__empty-step-description {
    text-align: center;
    margin-bottom: 24px;
    color: $color-grey-text;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }

  &__empty-description-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 0 0 0;
    p {
      font-weight: 500;
    }
    @media (max-width: 770px) {
      padding-left: 8px;
    }
    @media (max-width: 450px) {
      p {
        @include mobile-text-second;
      }
    }
  }

  &__empty-advance-area {
    width: 100%;
    min-height: 100%;
    resize: none;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    overflow: auto;
    background-color: transparent;
    border: none;
    padding: 0; // Убираем стандартный padding textarea
    &:focus {
      outline: none; // Убираем outline при фокусе
    }
    @media (max-width: 450px) {
      @include mobile-text-second;
      padding: 12px 20px;
    }
  }

  &__empty-item {
    display: flex;
    margin-bottom: 32px;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    img {
      margin-right: 32px;
      @media (max-width: 770px) {
        margin-bottom: 16px;
      }
    }
    @media (max-width: 770px) {
      flex-direction: column;
    }
  }

  &__empty-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

    h2 {
      @include h5-bold;
      @media (max-width: 450px) {
        @include paragragh;
        font-weight: 600;
      }
    }
    @media (max-width: 450px) {
      gap: 8px;
      align-items: flex-start;
      button {
        transform: translateY(3px);
      }
    }
  }

  &__empty-step-image {
    @media (max-width: 450px) {
      width: 322px;
      height: 212px;
    }
  }
  &__empty-list {
    margin-bottom: 40px;
  }
}

//Третья секция

.recipe-section {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    @media (max-width: 450px) {
      align-items: start;
      margin-bottom: 16px;
    }
  }

  &__step {
    display: flex;
    margin-bottom: 40px;
    background: $color-grey-background;
    border-radius: $border-radius-custom;
    padding-bottom: 24px;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-bottom: 16px;
    }
    @media (max-width: 450px) {
      flex-direction: column;
      margin-bottom: 16px;
    }
  }

  &__image {
    max-width: 360px;
    margin-right: 32px;
    @media (max-width: 450px) {
      margin-right: 0;
      margin-bottom: 8px;
    }
  }
  &__content {
    @include h5;
    margin-bottom: 16px;
    @media (max-width: 450px) {
      @include mobile-text-second;
      padding: 0 12px;
    }
  }
  &__number {
    @include h5-bold;
    margin-bottom: 8px;
    padding-top: 16px;
    @media (max-width: 768px) {
      @include h6;
      font-weight: 600;
    }
    @media (max-width: 450px) {
      @include paragragh;
      font-weight: 600;
      padding-top: 0;
    }
  }
  &__description {
    max-height: 150px;
    overflow-y: auto;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }

  &__content-name {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
    button {
      transform: translateY(2px);
    }
    @media (max-width: 450px) {
      margin-bottom: 4px;
    }
  }
}

.header-recipe {
  &__times-time {
    margin-right: 8px;
  }
  &__times-button {
    @include inputField;
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 290px;
    button{
      transform: translateY(0.1px);
    }
    @media (max-width: 768px) {
      @include mobile-text-second;
      width: 200px;
      height: 32px;
      gap: 4px;
      img {
        width: 20px;
      }
    }

    @media (max-width: 450px) {
      @include mobile-text-second;
      width: 180px;
      height: 32px;
      gap: 4px;
    }
  }

  &__times-button-left{
    display: flex;
    flex-direction: row;
    gap: 4px;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }

  &__added-step {
    @include green-button;
    display: flex;
    gap: 8px;
    width: 273px;
    align-items: center;
    @media (max-width: 450px) {
      @include mobile-text-second;
      width: 150px;
      gap: 4px;
      img {
        width: 12px;
      }
    }
  }
}

//Четвертая секция
.fourth-section {
  &__advance {
    display: flex;
    gap: 24px; // Добавлено
    border: 1px solid $color-grey-stroke;
    border-radius: $border-radius-custom;
    min-height: 50px;
    padding: 15px 32px;
    @media (max-width: 450px) {
      @include mobile-text-second;
      padding: 12px 20px;
    }
  }
  &__advance-hero {
    display: flex;
    gap: 8px;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 8px;
    h2 {
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 450px) {
        @include mobile-text-second;
        font-weight: 600;
      }
    }
    img {
      max-width: 164px;
      height: auto;
      @media (max-width: 450px){
        width: 18px;
        transform: translateY(-3px);
      }
    }
    input {
      width: 100%;
    }
  }
  &__advance-box {
    width: 100%;
    @include paragragh;
    @media (max-width: 450px) {
      @include mobile-text-second;
    }
  }

  &__advance-image {
    width: 164px;
    @media (max-width: 450px) {
      display: none;
    }
  }

  &__advance-header {
    display: flex;
    align-items: center;
    gap: 8px;
    button{
      transform: translateY(0.2px);
    }
  }
}

//Все поп апы
.pop-up {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  &__edit-name {
    width: 100%;
    max-width: 650px;
    background-color: $color-white;
    border-radius: $border-radius-custom;
    box-sizing: border-box;
    padding: 16px 24px;
    @media (max-width: 768px) {
      max-width: 90%;
      padding: 16px;
    }
    @media (max-width: 450px) {
      max-width: 95%;
      padding: 12px;
    }
  }

  &__edit-ingredients {
    width: 100%;
    max-width: 720px;
    background-color: $color-white;
    border-radius: $border-radius-custom;
    box-sizing: border-box;
    padding: 24px 16px;
    @media (max-width: 768px) {
      max-width: 90%;
      padding: 16px;
    }
    @media (max-width: 450px) {
      max-width: 95%;
      padding: 12px;
    }
  }
}
